/* 全てのCSSに適用 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  /* 下線を消す */
  text-decoration: none;
}

/* headerクラス */
header {
  height: 65px;
  /* 背景色の設定 rgba(赤, 緑, 青, 透過) */
  background-color: rgba(34, 49, 59, 0.9);
  width: 100%;
  /* 上部(top)に固定 */
  position: fixed;
  top: 0;
  /* レイヤーを１にする(0~10, 0:一番下) */
  z-index: 1;
}

/* header-leftクラス */
.header-left {
  float: left;
}

/* logoクラス */
.logo {
  width: 80px;
  margin-top: 10px;
}

/* header-rightクラス */
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a {
  color: white;
  padding: 0 25px;
  /* 縦の中央寄せ */
  line-height: 65px;
  /* インライン要素(a)をブロック要素に変更 */
  display: block;
}

/* top-wrapperクラス */
.top-wrapper {
  padding: 180px 0 100px 0;
  color: white;
  /* 背景画像の設定 url：ファイルの場所 */
  background-image: url("img/top.png");
  /* 背景画像の大きさ */
  /* cover：表示範囲を埋めつくすように自動で拡大縮小 */
  background-size: cover;
  /* テキストを中央に寄せる */
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  /* 透明度0~1(0だと完全に透明) */
  opacity: 0.7;
  /* 文字の間隔 */
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

/* containerクラス */
.container {
  padding: 0 15px;
  /* 横幅をwindowsサイズに合わせる */
  width: 100%;
  margin: 0 auto;
}

/* btn-wrapperクラス */
.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

/* btnクラス */
.btn {
  padding: 8px 24px;
  color: white;
  /* インライン要素(a)をインラインブロック要素に変更 */
  display: inline-block;
  opacity: 0.8;
  /* 角を丸くする */
  border-radius: 4px;
}

/* btnクラスの要素の上にカーソルが乗った時 */
.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 5px;
}

/* signupクラス */
.signup {
  background-color: #239b76;
}

/* facebookクラス */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

/* twitterクラス */
.twitter {
  background-color: #55acee;
}

/* lesson-wrapperクラス */
.lesson-wrapper {
  padding-bottom: 50px;
  background-color: #f7f7f7;
  text-align: center;
}

/* headingクラス */
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  /* 文字の太さ */
  font-weight: normal;
}

/* lessonクラス */
.lesson {
  float: left;
  /* 横幅を25％にする */
  width: 25%;
}

/* タブレット向けメディアクエリ */
/* ウィンドウサイズが[1000ピクセル]以下の時 */
@media (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  /* lessonクラスの横幅を50％にする */
  .lesson {
    width: 50%;
  }
}

/* スマホ向けメディアクエリ */
/* ウィンドウサイズが[670ピクセル]以下の時 */
@media (max-width: 670px) {
  /* lessonクラス */
  .lesson {
    /* 横幅を100％にする */
    width: 100%;
  }

  /* top-wrapperクラス */
  .top-wrapper {
    /* 上部に130pxの間隔をつける */
    padding-top: 130px;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  /* btnクラス */
  .btn {
    /* ボタンの横幅を100％にする */
    width: 100%;
  }

  /* facebookクラス */
  .facebook {
    /* 下部に10pxの間隔をつける */
    margin-bottom: 10px;
  }

  /* footerを中央寄せにする */
  footer {
    text-align: center;
  }
}

/* lesson-iconクラス */
.lesson-icon {
  /* 自分自身の表示位置を基準にする */
  position: relative;
}

.lesson-icon p {
  width: 100%;
  color: white;
  /* position: relative;を基準としてtop(上)から80pxの位置に配置 */
  position: absolute;
  top: 80px;
}

/* txt-contentsクラス */
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

/* clearクラス */
.clear {
  /* floatを解除 */
  clear: left;
}

/* message-wrapperクラス */
.message-wrapper {
  /* 下線 */
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
  text-align: center;
}

/* messageクラス */
.message {
  background-color: #5dca88;
  padding: 10px 40px;
  /* ボックスに影を付けて立体的にする(横, 縦, 色) */
  box-shadow: 0 7px #1a7940;
  /* 要素に乗った時のカーソルの形(pointe:指)*/
  cursor: pointer;
}

/* active:クリックした時のみ適用 */
.message:active {
  /* 影を無効にする */
  box-shadow: none;
  /* 位置を基準値より上から7px下げる */
  position: relative;
  top: 7px;
}

/* footerクラス */
footer {
  padding-top: 10px;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
