/* headerクラス */
.header {
  /* 背景色の変更 */
  background-color: #26d0c9;
  /* 高さ (px：ピクセル) */
  height: 90px;
  /* 文字の色を白に変更 */
  color: white;
}

/* header-logoクラス */
.header-logo {
  /* 左から順に横並び */
  float: left;
  /* 文字サイズを40pxに変更 */
  font-size: 40px;
  /* 余白の設定　上下20px 左右40px */
  padding: 20px 40px;
}

li {
  /* 文字の前の点を消す */
  list-style: none;
}

/* header-listクラスのliのみ適用 */
.header-list li {
  float: left;
  padding: 33px 20px;
}

/* mainクラス */
.main {
  padding: 100px 80px;
}

/* copy-containerクラスのh1のみ適用 */
.copy-container h1 {
  font-size: 140px;
}

/* copy-containerクラスのh2のみ適用 */
.copy-container h2 {
  font-size: 60px;
}

/* copy-containerクラスのspanのみ適用 */
.copy-container span {
  color: #ff4a4a;
}

/* contentsクラス */
.contents {
  height: 400px;
}

.section-title {
  /* 下に枠線(太さ,種類,色)*/
  border-bottom: 5px solid #00bfff;
  font-size: 32px;
  /* 下に余白(枠線の内側) */
  padding-bottom: 15px;
  /* 下に余白(枠線の外側) */
  margin-bottom: 50px;
  /* 上に余白(枠線の外側) */
  margin-top: 100px;
}

/* contents-itemクラス */
.contents-item {
  float: left;
  margin-right: 60px;
}

/* contents-itemクラスのpのみ適用 */
.contents-item p {
  font-size: 22px;
  margin-top: 20px;
}

/* footerクラス */
.footer {
  background-color: #2f5167;
  color: white;
  height: 120px;
  /* 上下左右の余白を30pxに変更 */
  padding: 30px;
}

/* footer-logoクラス */
.footer-logo {
  float: left;
  font-size: 32px;
}

/* footer-listクラス */
.footer-list {
  float: right;
}

/* footer-listクラスのliのみ適用 */
.footer-list li {
  /* 下の余白のみ10px */
  padding-bottom: 10px;
}
